/*
* @Author: 曹旭帆
* @Date:   2019-12-14 08:56:11
* @Last Modified by:   曹旭帆
* @Last Modified time: 2019-12-14 23:20:02
*/
*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
.bbox{
	height:20px; 
	margin: 0 auto;
	background-color:#ccc;
}
.nextbox{
	width: 1400px;
	height:20px;
	display:inline-block;
	position:relative;
	overflow:hidden;
}
.img{
	position:relative;
	left:200px;
	margin:auto;
	display:inline-block;
}
.wenzi{
	width:950px;
	height:20px;
	display:inline-block;
	position: absolute;
	left: 230px;
	overflow:hidden;
	position:relative;
}
.wenzi>div{
	width:1400px;
	height:20px;
	display:inline-block;
	position:absolute;
	left: 950px;
	overflow:hidden;
	color: red;
}

.box{
	width:1200px;
	height:397px;
	border:1px soild red;
	margin:100px auto;
	margin-top:10px ;
	position:relative;
	overflow:hidden;
}
.slider{
	width: 8400px;
	position: absolute;
	left: -1200px;
}
.slide{
	width: 1200px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color:  ;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	text-align: center;
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav .active{
	background:red;
}